<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ user.username }}</title>
</head>
<body>
{% block top %}
{% for item in object_list%}
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"
      id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<br><br>
<div class="container-fluid well span6">
    <div class="row-fluid">
        <div class="span2">
            <img src="https://www.svgrepo.com/show/122119/user-image-with-black-background.svg"
                 class="img-circle">
        </div>
        <div class="span8">
            <h2>{{ user.username }}</h2>
            <h6>Email: {{ user.email }}</h6>
            <h6>My invite code: {{user.invite_code}}</h6>
        </div>
    </div>
</div>
<div>
</div>
{% endfor %}
{% endblock %}
</body>
</html>